migrations

.idea

management

db.sqlite3

Pipfile

Pipfile.lock

__pycache__
.pyc
.vscode
photos_seed

.env

node_modules/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
